* {
    margin: 0%;
    padding: 0;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: royalblue;
    color: white;
    align-items: center;
    padding: 30px 70px;
    position: fixed;
    width: 90%;

}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a {

    text-decoration: none;
    color: inherit;

}

nav {
    align-items: center;
    display: flex;
    gap: 20px;
}

button,
.btna {
    background-color: white;
    color: black;
    padding: 9px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

img {
    border-radius: 30%;
    width: 70%;
    padding: 50px;

}

h4 {
    color: royalblue;
}

section {

    display: flex;
    justify-content: space-between;


}

.bnt1 {
    background-color: royalblue;
    ;
    color: white;
}

#bnt {
    background-color: black;
    color: white;
}

.image {
    display: flex;
    padding: 50px;


}

.description {
    padding: 100px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

.a-propos {
    padding: 50px;
    text-align: center;
    border: 1px solid;
    background-color: black;
    color: aliceblue;

}

h5 {
    font-size: 30px;
    margin: 19px;

}

.colone {
    font-size: 19px;

}

.colone1 {
    column-fill: balance;
}

.projet-grid {
    display: flex;
    gap: 15px;
    margin: 11px;


}

.projet-cadre {
    height: 13px;
    background: royalblue;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
    border-radius: 30px;


}

.projet {

    justify-content: center;


}

h6 {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-top: 0px;
}

.start {

    display: flex;
    margin-top: 30px;
    gap: 110px;
    justify-content: center;
}

.about {
    padding: 70px 40px;
}

.sp {
    font-size: 30px;
    color: royalblue;
}

body {
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 20px;
    width: 500px;

}

textarea,
input {
    margin: 20px;
    padding: 25px;
}

.sumi {
    width: 100px;
    background-color: black;
    color: white;
}

p {
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}

.contacts div {
    padding: 20px;
    margin: 30px;
    font-size: 20px;
}

footer {
    background-color: black;

    color: white;
    padding: 80px;
}

.bar {
    width: 100%;
    border-radius: 6px;
    background: royalblue;

}

.progress {
    height: 6px;
    background: black;
    border-radius: 10px;

}

.skill {
    display: flex;
    align-items: center;
    gap: 50px;

}

div .pst3 {
    width: 40%;
    padding: 1.5px;

}

div .pst2 {
    width: 40%;
    padding: 1.5px;

}

div .pst1 {
    padding: 1.5px;
    width: 50%;
}

#skill {

    padding: 40px;
    margin: 40px;
}

.pan {
    padding: 4px;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    width: 150px;
}

#competence {
    text-align: center;
}

img.logo {
    width: 50px;
    padding: 0;
    ;
    border-radius: 50%;

}

.log {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

html {
    scroll-behavior: smooth;
}

.logo1 {
    align-items: center;
    justify-content: space-between;
    display: flex;

}

.logo2 {
    width: 40px;
    border-radius: 50%;
    padding: 0;
}

#bulle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;/ overflow: hidden;
    z-index: 0;
}


.bulle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0.75;
    transform: translate(-50%, -50%);
    animation: float 6s ease-in-out infinite;
    mix-blend-mode: screen;
    pointer-events: none;
}

@keyframes float {
    0% {
        transform: translate(-50%, -50%) translateY(0);
    }

    50% {
        transform: translate(-50%, -50%) translateY(-20px);
    }

    100% {
        transform: translate(-50%, -50%) translateY(0);
    }
}